{{product.title}}'s
<br>
<img src="{{product.image}}">
<br>
manufactured in
<br>{{product.make}}
<br>{{product.model}} model
<br>For only Ksh {{product.price}}

{{update-product product=product update="update"}}
<button {{action 'delete' product}}>Delete</button>
