<h1> Welcome to E-garage </h1>

We hope you find exactly what you need for your car.

<h2>Available Products</h2>


  {{#each model as |product|}}
  <hr>
     {{product.title}}'s
     <br>
      <img src="{{product.image}}">

       <br>
     manufactured in
       <br>{{product.make}}
       <br>{{product.model}} model
       <br>For only Ksh {{product.price}}.
  {{/each}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
